<a href="https://colab.research.google.com/github/MuhamadFahmiii/Pemrograman-Visual/blob/main/TM5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#sets

print("\033c")
# To close all

# PART 1
# Constructing a Set (there are two methods)
set_1 = {"Toyota", "Daihatsu", "Honda"}
set_2 = {"Toyota", "Daihatsu", "Honda"}

print("Tipe data Set 1 adalah ", type(set_1))
print("Tipe data Set 2 adalah ", type(set_2))
print("Data Set 1: ", set_1)
print("Data Set 2: ", set_2)
print("------------------------------------")

# Print every item of set_1
for x in set_1:
    print(x)
print("------------------------------------")

# Check the length of the set
print("Length of set_1: ", len(set_1))

# Check if a key exists
if "Daihatsu" in set_1:
    print("Yes, 'Daihatsu' is an item in set_1.")

# Add an item
set_1.add("Mitsubishi")
print(set_1)

# Add multiple items
set_1.update(["Suzuki", "Mazda", "Nissan"])
print(set_1)

# PART 2
# Remove an item (method 1)
set_1.remove("Honda")
print(set_1)

# Remove an item (method 2)
set_1.discard("Mazda")
print(set_1)

#Delet (pop) the last inserted key
set_1.pop()
print(set_1)

#clear the set
set_1.clear()
print(set_1)

#delete the set
del set_1
print("------------------------------------")

# Union of two sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
print("------------------------------------")

# Set 1 takes copies of all items of set 2
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

c
Tipe data Set 1 adalah  <class 'set'>
Tipe data Set 2 adalah  <class 'set'>
Data Set 1:  {'Honda', 'Daihatsu', 'Toyota'}
Data Set 2:  {'Honda', 'Daihatsu', 'Toyota'}
------------------------------------
Honda
Daihatsu
Toyota
------------------------------------
Length of set_1:  3
Yes, 'Daihatsu' is an item in set_1.
{'Honda', 'Mitsubishi', 'Daihatsu', 'Toyota'}
{'Honda', 'Daihatsu', 'Nissan', 'Suzuki', 'Mitsubishi', 'Mazda', 'Toyota'}
{'Daihatsu', 'Nissan', 'Suzuki', 'Mitsubishi', 'Mazda', 'Toyota'}
{'Daihatsu', 'Nissan', 'Suzuki', 'Mitsubishi', 'Toyota'}
{'Nissan', 'Suzuki', 'Mitsubishi', 'Toyota'}
set()
------------------------------------
{'a', 1, 2, 3, 'c', 'b'}
------------------------------------
{'a', 1, 2, 3, 'c', 'b'}

In [12]:
# boolean

# Case 1
print("Case 1")
# Declaring Boolean values (Standard way)
f = bool(True)
g = bool(False)
print(f)
print(g)
print("=============================================================")

# Case 2
print("Case 2")
# Boolean values in different contexts
# Automatically tracked by the computer without declaration
print(3 > 2)
print(3 + 2 == 5)
print(3 < 2)
print("=============================================================")

# Case 3
print("Case 3")
Penghasilan = 20000000
penghasilan_tanpa_pajak = 4000000
if penghasilan_tanpa_pajak >= Penghasilan:
    pajak_yang_harus_dibayar = 0
if Penghasilan > penghasilan_tanpa_pajak:
    pajak_yang_harus_dibayar = 0.1 * Penghasilan

print("Pajak yang harus Anda bayar: Rp ", pajak_yang_harus_dibayar)

print("Case 4")
# Semua data yang tidak nol (kosong) memiliki nilai Boolean True

a = 3
b = "Ini data string."
c = "laptop", "buku", "ballpen"  # tuple
d = ["laptop", "buku", "ballpen"]  # list
e = {"Laptop": "asus", "buku": "buku_teks", "ballpen": "arrow"}  # dictionary
f = {1, 2, 3, 4, 5}  # set
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print("=============================================================")

# PART 3
# Case 5: Variables that are empty have a Boolean value of False
print("Case 5")

a = 0
b = ""
c = ()
d = []
e = {}

print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print("=============================================================")

# Case 6: Variables with a length of zero have a Boolean value of False
print("Case 6")

class MyClass:
    def _len_(self):
        return 0

print(bool(MyClass()))
print("=============================================================")

Case 1
True
False
=============================================================
Case 2
True
True
False
=============================================================
Case 3
Pajak yang harus Anda bayar: Rp  2000000.0
Case 4
True
True
True
True
True
True
=============================================================
Case 5
False
False
False
False
False
=============================================================
Case 6
True
=============================================================

In [13]:
# Buatlah program Anda sendiri yang melibatkan data berjenis sets!

# Inisialisasi set kosong
numbers = set()

# Meminta pengguna untuk memasukkan angka, "selesai" untuk keluar
while True:
    num_input = input("Masukkan angka (selesai untuk mengakhiri): ")

    # Keluar dari loop jika pengguna memasukkan "selesai"
    if num_input.lower() == "selesai":
        break

    try:
        num = int(num_input)
        numbers.add(num)  # Menambahkan angka ke set
    except ValueError:
        print("Masukan tidak valid. Harap masukkan angka.")

# Mencetak jumlah angka unik yang dimasukkan
print("Jumlah angka unik yang dimasukkan:", len(numbers))

Masukkan angka (selesai untuk mengakhiri): 1
Masukkan angka (selesai untuk mengakhiri): 3
Masukkan angka (selesai untuk mengakhiri): 5
Masukkan angka (selesai untuk mengakhiri): 6
Masukkan angka (selesai untuk mengakhiri): 7
Masukkan angka (selesai untuk mengakhiri): selesai
Jumlah angka unik yang dimasukkan: 5

In [14]:
# Buatlah program Anda sendiri yang melibatkan data berjenis boolean!

# Program untuk mengecek apakah seorang pengguna memiliki akses ke suatu fitur

# Fungsi untuk memeriksa izin akses pengguna
def check_access(username):
    # Simulasi database pengguna yang memiliki akses
    allowed_users = ['user1', 'user2', 'user3']

    # Mengecek apakah pengguna memiliki akses
    if username in allowed_users:
        return True
    else:
        return False

# Main program
def main():
    # Mengambil input dari pengguna
    username = input("Masukkan nama pengguna: ")

    # Memeriksa izin akses pengguna
    has_access = check_access(username)

    # Menampilkan hasil
    if has_access:
        print("Anda memiliki akses ke fitur tersebut.")
    else:
        print("Anda tidak memiliki akses ke fitur tersebut.")


main();

Masukkan nama pengguna: user2
Anda memiliki akses ke fitur tersebut.